@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    color: #393c41;
    font-family: 'Rubik', sans-serif;
}
 a{
 text-decoration: none;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  padding: 0 10px;
 }
 a:hover{
    color: #393c41;   
 }